[Unit]
Description=diskmon server
Documentation=https://github.com/rebootl/diskmon

After=network.target
Requires=network.target

[Service]
User=<user>
ExecStart=<path-to-diskmon-dir>/server.pl
Type=forking

# Restart/timeout
#Restart=always
#RestartSec=10

[Install]
WantedBy=multi-user.target
